@use 'sass:color';
@use '../../styles/variables' as *;

.artisan_form {
  background-color: $color-background;
  font-family: 'Graphik', sans-serif;
  padding:32px 32px;
}

.presentation {
  background-color:#fff;
  border-radius: 10px;
  margin-bottom: 32px;
}

.artisan-card-image{
  height: 200px;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 32px;
}

.info {
    text-align: center;
    width: 300px;
    padding-bottom: 16px;
}

.info h3 {
    color: $color-dark-blue;
}

.rating{
  color: $color-primary;
}

.details {
  background-color:$color-background;
}

.about{
  margin-bottom: 32px;
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
}

.contact{
  background-color: #fff;
  border-radius: 10px;
  height: 170px;
}

.form{
  background-color: #fff;
  border-radius: 10px;
}
.section_form {
  width: 100%;
}
