@use '../../styles/variables' as *;

.artisan-card {
  width: 320px;
  height: 340px;
  border: 1px solid $color-dark-blue;
  text-align: center;
  font-family: 'Graphik', sans-serif;
}

.artisan-card-image {
  height: 200px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.artisan-card-info {
  height: 117px;
  text-align: center;
  line-height: 0.6;
}

.artisan-card-info h3 {
  color: $color-dark-blue;
}

.rating{
  color: $color-primary;
}

