@use 'sass:color';
@use '../../styles/variables';


.navbar form input {
  width: 300px;
}

.navbar-logo {
  width: 200px;
  height: auto;
}

@media (min-width: 992px) {
  .navbar form {
    order: 2;
    margin-left: 32px;
  }

  .navbar-nav {
    order: 1;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    padding-left: 14px;
  }
}